@model ProductModel //dto objeleri denir
<h1 class="h3">Create Product</h1>
<hr>


<div class="row">
   <div class="col-md-8">
<form asp-controller="Admin" asp-action="CreateProduct" method="Post">
<div asp-validation-summary="All" class="text-danger"></div> @*bunların hepsini al hata mesajını ver *@
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
            <input class="form-control" asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Url" class="col-sm-2 col-form-label">Url</label>
            <div class="col-sm-10">
            <input class="form-control" asp-for="Url">
            <span asp-validation-for="Url" class="text-danger"></span>
            </div>
        </div>

       @* <div class="form-group row">
            <label class="col-sm-2 col-form-label">Url</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="Url" name="Url"> 
            idyi js tarayıcı tarafında yaptığım işlemler için kullanırım. Name kısmını ise vtde yaptığım.
            bizim tag helperlerimiz var yani her divde id name yazmak yerine onları kullanabilirim çünkü buradaki id url ye verdiğim isim vtdekiyle aynı olmak zorunda belki yanlış falan yazarım diye ben tag helper kullanıcam bunun için yukarıya model eklemem lazım.
            şimdi ben id ve nameleri sileceğim
            tagleri nasıl kullanacağız asp-for="Url" bu şekilde kullanıyorum  modelde string bilgi tanımlıyosan text yazmana bile gerek yok onları bile silelim
            asp-for ları labelede verirsek oranında isimleri otomatik değişir 
            </div>
        </div>*@

        <div class="form-group row">
            <label asp-for="Description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
            <textarea class="form-control" asp-for="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="ImageUrl" class="col-sm-2 col-form-label">ImageUrl</label>
            <div class="col-sm-10">
            <input class="form-control" asp-for="ImageUrl">
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group row">
            <label asp-for="Price" class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-10">
            <input class="form-control" asp-for="Price">
            <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary" >Gönder</button>
            </div>
        </div>



</form>

</div>
  </div>